  .boost-container {
    background-image: url(../images/bg-shorten-desktop.svg);
    background-color: var(--DarkViolet);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .boost-container h2 {
    color: white;
  }

  
  .boost-button {
    background-color: var(--Cyan);
    color: white;
    padding: 1rem 2rem;
    border-radius: 2rem;
    font-weight: bold;
    cursor: pointer;
    border: none;
    text-wrap: nowrap;
  }
  .boost-button:hover {
    background-color: hsl(180, 58%, 71%);
  }
  
  @media screen and (max-width: 375px) {
    .boost-container {
      background-image: url(../images/bg-shorten-mobile.svg);
      padding: 2rem;
    }
  

    .boost-button {
      width: 60%;
    }
  }
  
