.header {
    display: flex;
    justify-content: space-between;
    padding: 2rem 1rem;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .logo {
    height: 50px;
  }
  .header-left-section ul,
  .header-right-section {
    display: none;
  }
  @media (min-width: 375px) {
  
    .header-left-section {
      display: flex;
  
      ul {
        display: flex;
        align-items: center;
        gap: 2rem;
      }
    }
  
    .header-right-section {
      display: flex;
      align-items: center;
      gap: 2rem;
    }
  
    .hamburger-menu {
      display: none;
    }
  }
  
  .mobile-menu {
    position: absolute;
    left: 0;
    right: 0;
    top: 100px;
    bottom: 0;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 30%;
    flex-direction: column;
    background-color: var(--VeryDarkViolet);
    z-index: 2;
  }
  